* {
    margin: 20px;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    word-break: keep-all;
    width: 1200px;
    margin: auto;
}
.profile {
    background-color: paleturquoise;
    background-size: 100%;
    padding: 10px;
    margin: 0px;
}
.title {
    font-family: cursive;
    text-shadow: 1px 1px grey;
    text-align: center;
    width: 1200px;
    margin: auto
}
.experience {
    background-color: lightsteelblue;
    background-size: 100%;
    padding: 10px;
    margin: 0px;
}
.education {
    background-color: lightskyblue;
    background-size: 100%;
    padding: 10px;
    margin: 0px;
}
.contact {
    background-color: lightseagreen;
    background-size: 100%;
    padding: 10px;
    margin: 0px;
}
img {
    display: block;
    margin-left: 65px;
    width: 15%;
}
a {
    color: mediumblue;
}
a:visited {
    color: midnightblue;
}
a:hover {
    color: oldlace;
}