* {
    margin: 20px;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.profile {
    background-color: paleturquoise;
    background-size: 100%;
    padding: 10px;
    margin: 0px;
}
.experience {
    background-color: lightsteelblue;
    background-size: 100%;
    padding: 10px;
    margin: 0px;
}
.education {
    background-color: lightskyblue;
    background-size: 100%;
    padding: 10px;
    margin: 0px;
}
.contact {
    background-color: lightseagreen;
    background-size: 100%;
    padding: 10px;
    margin: 0px;
}
a {
    color: mediumblue;
}
a:visited {
    color: midnightblue;
}
a:hover {
    color: oldlace;
}